Repository OlechowskiMichal/tflint-ruleset-modularity: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, end-of-file, check-yaml, mod-tidy, fmt, vet, lint, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    trailing-whitespace:
      glob: "*.{go,yaml,yml,md,json}"
      run: |
        if grep -Hn '[[:blank:]]$' {staged_files} 2>/dev/null; then
          echo "Trailing whitespace found"
          exit 1
        fi
      fail_text: "trailing whitespace found"

    end-of-file:
      glob: "*.{go,yaml,yml,md,json}"
      run: |
        for f in {staged_files}; do
          if [ -s "$f" ] && [ -n "$(tail -c 1 "$f")" ]; then
            echo "$f: no newline at end of file"
            exit 1
          fi
        done
      fail_text: "files must end with newline"

    check-yaml:
      glob: "*.{yaml,yml}"
      run: |
        for f in {staged_files}; do
          python3 -c "import yaml; yaml.safe_load(open('$f'))" 2>/dev/null || \
          yq e '.' "$f" > /dev/null
        done
      fail_text: "invalid YAML syntax"

    check-large-files:
      run: |
        MAX_KB=500
        for f in {staged_files}; do
          size=$(wc -c < "$f" 2>/dev/null || echo 0)
          if [ "$size" -gt $((MAX_KB * 1024)) ]; then
            echo "$f exceeds ${MAX_KB}KB"
            exit 1
          fi
        done
      fail_text: "file exceeds 500KB limit"

    check-merge-conflict:
      run: |
        if grep -Hn '^<<<<<<< \|^=======$\|^>>>>>>> ' {staged_files} 2>/dev/null; then
          echo "Merge conflict markers found"
          exit 1
        fi
      fail_text: "merge conflict markers found"

    mod-tidy:
      glob: "*.go"
      run: go mod tidy && git diff --exit-code go.mod go.sum
      fail_text: "go mod tidy made changes"

    fmt:
      glob: "*.go"
      run: gofmt -l {staged_files} && test -z "$(gofmt -l {staged_files})"
      fail_text: "gofmt found unformatted files"

    vet:
      glob: "*.go"
      run: go vet ./...
      fail_text: "go vet found issues"

    lint:
      glob: "*.go"
      run: golangci-lint run --new-from-rev=HEAD
      fail_text: "golangci-lint found issues"

    test:
      glob: "*.go"
      run: go test -short ./...
      fail_text: "tests failed"

pre-push:
  commands:
    full-lint:
      run: golangci-lint run ./...
      fail_text: "full lint failed"

    vulncheck:
      run: govulncheck ./...
      fail_text: "known vulnerabilities found"

feat: implement TFLint modularity rules
  .golangci.yml
  Taskfile.yml
  go.mod
  go.sum
  goreleaser.yaml
  main.go
  main_test.go
  rules/terraform_file_line_limit.go
  rules/terraform_file_line_limit_test.go
  rules/terraform_policy_doc_location.go
  rules/terraform_policy_doc_location_test.go
  rules/terraform_required_files.go
  rules/terraform_required_files_test.go
  rules/terraform_resource_file_limit.go
  rules/terraform_resource_file_limit_test.go
Due: trailing-whitespace, end-of-file, check-yaml, mod-tidy, fmt, vet, lint, test

feat: implement TFLint modularity rules (#1)
  .golangci.yml
  Taskfile.yml
  go.mod
  go.sum
  goreleaser.yaml
  main.go
  main_test.go
  rules/terraform_file_line_limit.go
  rules/terraform_file_line_limit_test.go
  rules/terraform_policy_doc_location.go
  rules/terraform_policy_doc_location_test.go
  rules/terraform_required_files.go
  rules/terraform_required_files_test.go
  rules/terraform_resource_file_limit.go
  rules/terraform_resource_file_limit_test.go
Due: trailing-whitespace, end-of-file, check-yaml, mod-tidy, fmt, vet, lint, test

chore: sync tooling from go-template
  .custom-gcl.yml
  .errcheck_excludes.txt
  .gitignore
  .golangci.yml
  .mise.ci.toml
  .mise.development.toml
  .miserc.toml
  .mockery.yaml
  AGENTS.md
  Taskfile.yml
  lefthook.yml
  lefthook/files.yml
  lefthook/go.yml
  taskfiles/build.yml
  taskfiles/ci.yml
  taskfiles/lint.yml
  taskfiles/release.yml
  taskfiles/setup.yml
  taskfiles/test.yml
Due: trailing-whitespace, end-of-file, check-yaml

chore: sync tooling from go-template (#2)
  .custom-gcl.yml
  .errcheck_excludes.txt
  .gitignore
  .golangci.yml
  .mise.ci.toml
  .mise.development.toml
  .miserc.toml
  .mockery.yaml
  AGENTS.md
  Taskfile.yml
  lefthook.yml
  lefthook/files.yml
  lefthook/go.yml
  taskfiles/build.yml
  taskfiles/ci.yml
  taskfiles/lint.yml
  taskfiles/release.yml
  taskfiles/setup.yml
  taskfiles/test.yml
Due: trailing-whitespace, end-of-file, check-yaml

docs: update README and AGENTS.md with project-specific content
  AGENTS.md
  README.md
Due: trailing-whitespace, end-of-file

docs: update README and AGENTS.md with project-specific content (#3)
  AGENTS.md
  README.md
Due: trailing-whitespace, end-of-file

feat: change rule severity from WARNING to ERROR
  README.md
  rules/terraform_file_line_limit.go
  rules/terraform_policy_doc_location.go
  rules/terraform_required_files.go
  rules/terraform_resource_file_limit.go
Due: trailing-whitespace, end-of-file, mod-tidy, fmt, vet, lint, test

feat: change rule severity from WARNING to ERROR (#4)
  README.md
  rules/terraform_file_line_limit.go
  rules/terraform_policy_doc_location.go
  rules/terraform_required_files.go
  rules/terraform_resource_file_limit.go
Due: trailing-whitespace, end-of-file, mod-tidy, fmt, vet, lint, test

feat: add release workflow and fix CI build output name
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file, check-yaml

feat: add release workflow and fix CI build output name (#5)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file, check-yaml

feat: add HCL config decoding for all configurable rules
  rules/terraform_file_line_limit.go
  rules/terraform_required_files.go
  rules/terraform_resource_file_limit.go
Due: trailing-whitespace, end-of-file, mod-tidy, fmt, vet, lint, test

feat: add HCL config decoding for all configurable rules (#6)
  rules/terraform_file_line_limit.go
  rules/terraform_required_files.go
  rules/terraform_resource_file_limit.go
Due: trailing-whitespace, end-of-file, mod-tidy, fmt, vet, lint, test

fix: deduplicate for_each/count expanded blocks in resource file limit rule
  rules/terraform_resource_file_limit.go
  rules/terraform_resource_file_limit_test.go
Due: trailing-whitespace, end-of-file, mod-tidy, fmt, vet, lint, test

fix: deduplicate for_each/count expanded blocks in resource file limit rule (#7)
  rules/terraform_resource_file_limit.go
  rules/terraform_resource_file_limit_test.go
Due: trailing-whitespace, end-of-file, mod-tidy, fmt, vet, lint, test

refactor: replace commitlint with cocogitto
  .commitlintrc.json
  .github/workflows/ci.yml
  .mise.toml
  cog.toml
  lefthook.yml
  lefthook/commit-msg.yml
Due: trailing-whitespace, end-of-file, check-yaml

refactor: replace commitlint with cocogitto (#8)
  .commitlintrc.json
  .github/workflows/ci.yml
  .mise.toml
  cog.toml
  lefthook.yml
  lefthook/commit-msg.yml
Due: trailing-whitespace, end-of-file, check-yaml

refactor: SSOT lefthook and CI delegate to task
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  Taskfile.yml
  lefthook/commit-msg.yml
  lefthook/files.yml
  lefthook/go.yml
  taskfiles/hooks.yml
  taskfiles/lint.yml
  taskfiles/test.yml
Due: trailing-whitespace, end-of-file, check-yaml

refactor: SSOT lefthook and CI delegate to task (#9)
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  Taskfile.yml
  lefthook/commit-msg.yml
  lefthook/files.yml
  lefthook/go.yml
  taskfiles/hooks.yml
  taskfiles/lint.yml
  taskfiles/test.yml
Due: trailing-whitespace, end-of-file, check-yaml

chore: add actionlint to mise tools
  .mise.toml
Due: none

chore: add actionlint to mise tools (#10)
  .mise.toml
Due: none

chore: auto-install lefthook on mise enter
  .mise.development.toml
Due: none
